<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/logo-local.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>I just have one thing to say. The reading Power Station is a natural gas-fueled power station which supplies electric power to the Tel Aviv District in central Isreal.</p>

        <p>Brought to you by SwaggySul and Tyler.</p>
      </div>

    </div>
    <a href="#" class="btn-primary" target="_blank">Learn More</a>
  </div>
</template>

<!-- //js-open works -->