<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <span class="{{selectedFont}} logo">*Mizzle*</span>
        </h1>
        <span class="hours"><span class="title-callout">For the People</span>
        connect with your audience</span>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">The Latest Scoop</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">What can we do for you?</h2>
      <div class="list-subtitle">Our job is to make your life better</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No one is cooking yet!</div>
            <div class="subtitle-message">Share that you made a post and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">The Scoop</a>

      <h2 class="list-title">Our Favorite Blog</h2>
      <div class="list-subtitle">Hand-picked by neighborhood chefs</div>
      <div class="list-blog">
        {{#each featuredBlog}}
          {{> postItem post=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'blog'}}" class="btn-primary">Neighborhood leader in SWAG</a>
    </div>

  </div>
</template>